@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

.navigation li {
  display: inline;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
}

.navigation {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin: 0 70px;
}

.logo {
  height: 65px;
  margin-right: 30px;
}

.navigation-list-wraper {
  display: flex;
  align-items: center;
}

.navigation-list {
  height: 66px;
  padding-left: 17px;
  width: 500px;
}

.navigation-link {
  display: inline-block;
  line-height: 66px;
  height: 66px;
}

.navigation-user {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 264px;
}

.navigation-item:not(.navigation-item:last-child) {
  margin-right: 29px;
}

.navigation-user-item {
  width: 42px;
  text-align: center;
  margin: 0;
}

.current-page a {
  box-sizing: border-box;
  border-bottom: 2px solid rgba(117, 97, 87, 1);
  height: 66px;
  line-height: 66px;
}

.navigation-user li:nth-child(3) {
  margin-left: 20px;
}


.inner_wrapper {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 1200px;
  margin: 0 auto;
}

.search {
  display: block;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1px;
}

.favorite {
  display: block;
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

html {
  height: 100%;
}

body {
  background-color: #E5E5E5;
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

.advantage-name {
  text-transform: uppercase;
  margin: 0;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantage-icon-housing {
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  background-image: url(../images/housing.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-icon-food {
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-icon-souvenirs {
  display: block;
  width: 75px;
  height: 72px;
  margin: auto;
  background-image: url(../images/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main_index {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.search-hotel {
  box-sizing: border-box;
  height: 417px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-hotel span {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotel p:not(.search-hotel p:first-of-type) {
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 56px;
}

.search-hotel p:first-of-type {
  margin: 0;
  margin-top: 91px;
  line-height: 26px;
  font-size: 22px;
}

.subscribe p:first-of-type {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 46px;
  line-height: 26px;
  font-size: 22px;
}

.hotel-list {
  width: 1056px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-title {
  margin: 16px 0;
}

.texts,
.btns,
.rating {
  display: flex;
  justify-content: space-between;
}

.hotel-type {
  display: block;
  width: 140px;
}

.hotel-price {
  display: block;
  width: 140px;
}

.telnumber {
  font-size: 40px;
}

.headline_1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.headline_2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.headline_3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/index_background.jpg);
  background-repeat: no-repeat;
  height: 485px;
}

.welcome-decoration {
  background-image: url(../images/decorate_header.svg);
  background-repeat: no-repeat;
  height: 57px;
}

.welcome-img {
  display: block;
  height: 352px;
  margin: auto;
  margin-top: 51px;
}

.welcome-footer p {
  margin: 0;
  font-size: 22px;
}

.welcome-footer {
  height: 282px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.welcome-footer h2 {
  margin-top: 63px;
  margin-bottom: 31px;
  width: 620px;
  text-transform: uppercase;
  text-align: center;
}

footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wraper {
  display: flex;
  width: 1060px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantage-image {
  grid-column: span 2;
  height: 384px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 384px;
  box-sizing: border-box;
  text-align: center;

}

.advantage-number {
  display: block;
  font-size: 18px;
}

.advantage-element:not(.advantage-element:first-child) {
  margin-top: 30px;
}


.dark {
  background-color: rgba(131, 179, 211, 1);
  color: #fff;
}

.sub_item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}

.advantages-item:nth-child(9) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n+8) {
  background-color: rgba(131, 179, 211, 0.12);
}

.subscribe {
  padding: 94px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/subscribe_background.jpg);
  background-repeat: no-repeat;
  color: #fff;
  height: 411px;
}

.subscribe-inner {
  background-image: none;
  color: black;
}

.subscribe p {
  width: 475px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.subscribe h2 {
  font-size: 30px;
  margin: 0;
}

.subscribe-form {
  display: flex;
}


.filter_block {
  height: 403px;
  background-image: url(../images/catalog_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.filter_block_wrapper {
  width: 1060px;
  height: 298px;
  margin: auto;
}

.filter_form {
  height: 149px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_type_wrapper {
  width: 366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price-filter {
  width: 288px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_buttons_wrapper {
  display: flex;
  flex-direction: column;
}

.inner-header a {
  color: #fff;
}

.inner-header h1 {
  margin: 0;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

a.button {
  display: inline-block;
}

.button {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  height: 60px;
  border: none;
  text-align: center;
}

.card-button {
  line-height: 37px;
  width: 140px;
  height: 37px;
}

.reset-button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-top: 15px;
}

.search-button {
  width: 574px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  width: 200px;
  border-radius: 0 10px 10px 0;
}

.accept-button {
  width: 160px;
  height: 48px;
}

.begin-price,
.end-price {
  box-sizing: border-box;
  width: 50%;
  height: 48px;
  border: 2px #fff solid;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  padding-right: 15px;
}

.begin-price {
  border-right: 1px #fff solid;
  border-radius: 4px 0 0 4px;
}

.end-price {
  border-left: 1px #fff solid;
  border-radius: 0 4px 4px 0;
}

.begin-price,
.end-price::placeholder {
  text-align: end;
}

.button-brown {
  background: rgba(117, 97, 87, 1);
}

.button-blue {
  background: rgba(130, 179, 211, 1);
}

.button-green {
  background: rgba(125, 181, 79, 1);
}

.navigation-item button {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}



input {
  background-color: rgba(242, 242, 242, 1);
}

input[type="email"] {
  width: 600px;
  height: 60px;
  border: none;
  border-radius: 10px;
}

.subscribe input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  padding: 0;
  padding-left: 22px;
  font-size: 18px;
  border-radius: 10px 0 0 10px;
  line-height: 21px;
}

.catalog-sort {
  margin: 55px 0;
  height: 49px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort {
  width: 290px;
  height: 100%;
  padding-left: 20px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.view-list {
  display: flex;
}

.view-item:not(.view-item:last-child) {
  margin-right: 8px;
}

.table::before {
  content: url(../images/catalog/view-table.svg);
}

.slide::before {
  content: url(../images/catalog/view-slideshow.svg);
}

.list::before {
  content: url(../images/catalog/view-list.svg);
}

.count-of-hotels {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.catalog {
  display: flex;
  flex-direction: column;
}



.rate-text {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(242, 242, 242, 1);
}

.stars {
  display: flex;
  align-items: center;
}

.stars li:not(.stars li:last-child) {
  margin-right: 6px;
}

.stars span::before {
  content: url(../images/catalog/star.svg);
}

.social-list {
  display: flex;
  width: 142px;
  justify-content: space-around;
}

.social-list li {
  display: inline;
  list-style: none;
}

.social-vk::before {
  content: url(../images/vkontakte_icon.svg);
}

.social-telegramm::before {
  content: url(../images/telegram_icon.svg);
}

.social-youtube::before {
  content: url(../images/youtube_icon.svg);
}

.decorate {
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 30px;
  width: 1055px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.hotels-on-page-select {
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  width: 160px;
  padding: 14px 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
}

.pagination-item {
  text-align: center;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  line-height: 55px;
  background-color: rgba(130, 179, 211, 1);
}

.pagination-item:not(.pagination-item:last-child) {
  margin-right: 8px;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
}

.pagination {
  margin: 0 72px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-on-page-text {
  margin-right: 45px;
}

.breadcrubs-item {
  display: inline;
  list-style: none;
}

.breadcrubs-item:not(.breadcrubs-item:last-child) {
  margin-right: 10px;
}

.home_page::after {
  content: url(../images/breadcrubs_home.svg);
}

.breadcrubs_arrow::before {
  content: url(../images/arrow.svg);
}
