@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

.navigation li {
  display: inline;
  list-style: none;
  font-weight: 700;
}

.navigation {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-user {
  width: 310px;
  margin-left: auto;
}

.navigation-item {
  margin-right: 17px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.search::before {
  content: url(../images/search.svg);
}

.favorite::before {
  content: url(../images/favorite.svg);
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans";
}

ol {
  padding: 0;
}

.main_index {
  flex-grow: 1;
}

.visually-hidden {
  display: none;
}

.search-hotel {
  width: 574px;
  height: 417px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.search-hotel span {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotel p {
  text-align: center;
}

.telnumber {
  font-size: 40px;
}

.headline_1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.headline_2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.headline_3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.welcome {
  display: flex;
  flex-direction: column;
  background-image: url(../images/index_background.jpg);
  background-repeat: no-repeat;
  height: 485px;
}

.welcome-img {
  display: block;
  margin: auto;
}

.welcome-footer h2 {
  text-transform: uppercase;
}

.welcome-footer {
  height: 282px;
  width: 654px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-footer h2 {
  text-align: center;
}

footer {
  height: 120px;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-decoration {
  background-image: url(../images/decorate_header.svg);
  background-repeat: no-repeat;
  height: 57px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advantages-item {
  width: 400px;
  height: 383px;
  padding: 85px;
  box-sizing: border-box;
  text-align: center;

}

.dark {
  background-color: rgba(131, 179, 211, 1);
  color: #fff;
}

.sub_item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
  color: black;
}

.advantages-item:nth-child(9) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n+8) {
  background-color: rgba(131, 179, 211, 0.12);
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/subscribe_background.jpg);
  background-repeat: no-repeat;
  color: #fff;
  height: 411px;
}

.filter_block {
  background-image: url(../images/catalog_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.inner-header a {
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
a.button {
  display: inline-block;
}

.button {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  height: 60px;
  border: none;
  text-align: right;
}

.begin-price, .end-price {
  height: 48px;
  border: 2px #fff solid;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  padding-right: 15px;
}

.begin-price, .end-price::placeholder {
  text-align: end;
}

.button-brown {
  background: rgba(117, 97, 87, 1);
}

.button-blue {
  background: rgba(130, 179, 211, 1);
}

.button-green {
  background: rgba(125, 181, 79, 1);
}

input {
  background-color: rgba(242, 242, 242, 1);
}

.rate-text {
  display: inline-block;
  background-color: rgba(242, 242, 242, 1);
}

.stars li {
  display: inline;
  background-repeat: no-repeat;
}

.stars span::before {
  content: url(../images/catalog/star.svg);
}

.social-list {
  display: flex;
  width: 142px;
  justify-content: space-evenly;
}

.social-list li {
  display: inline;
  list-style: none;
}

.social-vk::before {
  content: url(../images/vkontakte_icon.svg);
}

.social-telegramm::before {
  content: url(../images/telegram_icon.svg);
}

.social-youtube::before {
  content: url(../images/youtube_icon.svg);
}

.pagination-item {
  display: inline-block;
  text-align: center;

}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  line-height: 55px;
  background-color: rgba(130, 179, 211, 1);
}

.breadcrubs-item {
  display: inline;
  list-style: none;
}

.home_page::after {
  content: url(../images/breadcrubs_home.svg);
}

.breadcrubs_arrow::before{
  content: url(../images/arrow.svg);
}
